.cta-block{
	display: flex;
	width: 100%;
	min-height: 60vh;
	color: var(--custom-text-color);
	border-top:1px solid #C9C9C9;
	border-bottom:1px solid #C9C9C9;
}
.cta-block .text-col{
	flex: var(--small-flex) 0 0;
	padding: 2em;
}


.cta-block .text-col .button{
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 1em auto;
	border-radius: 0;
	color: var(--black);
	font-size: unset;
	font-weight: 300;
	padding-left: 1.5em;
}
.cta-block .text-col .button:hover{
	background-color: unset;
	color: var(--black);
}
.cta-block .text-col .button.cta-phone{
	background-image: url(../../images/svg/phone-icon-black.svg);
}
.cta-block .text-col .button.cta-email{
    background-image: url(../../images/svg/email-icon-black.svg);
}


.cta-block .image-col{
	flex: var(--big-flex) 0 0;
	aspect-ratio: 4/3;
}


.cta-block .image-col figure{
	width: 100%;
	height: 100%;
	margin: 0;
}
.cta-block .image-col figure.dummy{
	background: #ccc;
}
.cta-block .image-col figure img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
}
@media all and (max-width:1024px){
	.cta-block {
		min-height: 100%;
	}
	.cta-block .text-col .button{
		background-size: 1.5em auto;
		padding-left: 2em;
	}
}
@media all and (max-width:768px){
	.cta-block{
		display: block;
	}
	.cta-block .text-col{
		padding: 2em 1em;
	}
}