
.projects-block{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 3em;
	padding:2em 1em 2em 2em;
	color: var(--custom-text-color);
}
.projects-block .title-col{
	flex: var(--small-flex) 0 1;
}
.projects-block .projects-col{
	flex: var(--big-flex)  1 0;
}
.projects-block .projects-col ul{
	display: flex;
	flex-wrap: nowrap;
	gap: 1em;
	margin: 0;
	padding: 0;	
}
.projects-block .projects-col ul li{
	display: block;
	flex: 50% 0 1;
	aspect-ratio: 1;
}
@media screen and (max-width:768px){
	.projects-block{
		display: block;
		padding: 2em 1em;
	}	
	.projects-block .projects-col ul li{
		flex: 50% 0 1;
	}
}
