.projects-block{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding:1em 0 1em 0;
	color: var(--custom-text-color);
}
.projects-block .title-col{
	flex: var(--small-flex) 0 0;
	padding:0 2em 0 2em;
}
.projects-block .text-col a{
	text-decoration: underline;
}
.projects-block .projects-col{
	flex: var(--big-flex) 0 0;
	padding-right:1em;
}
.projects-block .projects-col ul{
	display: flex;
	flex-wrap: nowrap;
	gap: 1em;
	margin: 0;
	padding: 0;	
}
.projects-block .projects-col ul li{
	display: block;
	flex: 50% 0 1;
	aspect-ratio: 1;
}
@media screen and (max-width:768px){
	.projects-block{
		display: block;
		padding: 2em 1em;
	}	
	.projects-block .title-col{
		padding: 0;
	}
	.projects-block .projects-col ul li{
		flex: 50% 0 0;
		padding-top: 1em;
	}
}
