.products-block{
	box-sizing: border-box;
	display: flex;
	flex-wrap: nowrap;
	gap: 1em;
	padding: 4em 2em;
	border-top: 1px solid var(--store-color);
	border-bottom: 1px solid var(--store-color);
	margin-top: -1px;
}
.products-block .text-col{
	flex: var(--small-flex) 0 0;
}
.products-block .products-col{
	flex: var(--big-flex) 0 1;	
}
.products-block .products-col ul{
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	margin: 0;
	padding: 0;
}
.products-block .products-col ul li.image-button{
	flex:calc(100% / 3 - 0.7rem) 0 1;
}
.products-block .image-button .title a {
	text-align: left;
}

@media screen and (max-width:768px){
	.products-block{
		display: block;
		padding: 2em;
	}
	.products-block .products-col ul{
		flex-wrap: nowrap;
		overflow: auto;
	}
	.products-block .products-col ul li.image-button{
		flex: 60% 0 0;
	}
}