.products-block{
	box-sizing: border-box;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 2em 0 2em 0;
	border-top: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	margin-top: -1px;
	color: var(--custom-text-color);
}
.products-block .text-col{
	flex: var(--small-flex) 0 1;
	padding-right: 2em;
}
.products-block .text-col a{
	text-decoration: underline;
}
.products-block .products-col{
	flex: var(--big-flex) 0 0;
}
.products-block .products-col ul{
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	margin: 0;
	padding: 0;
}
.products-block .products-col ul::-webkit-scrollbar {
    display: none;
}
.products-block .products-col ul li.image-button{
	flex:calc((100% - 2em) / 3) 0 0;
}
.products-block .products-col ul li.image-button:nth-child(4n):not(:last-child),
.products-block .products-col ul li.image-button:nth-child(5n):last-child{
	aspect-ratio: none;
}
.products-block .products-col ul li.image-button:nth-child(4n):last-child{
	aspect-ratio: 3/1;
}
.products-block .image-button .title a {
	text-align: left;
}

@media screen and (max-width:768px){
	.products-block{
		display: block;
		padding: 2em 1em;
	}
	.products-block .products-col ul{
		flex-wrap: nowrap;
		overflow: auto;
	}
	.products-block .products-col ul li.image-button{
		flex: 60% 0 0;
	}
}