.text-image-block{
	display: flex;
    flex-wrap: nowrap;
	border-top:1px solid #C9C9C9;
	border-bottom:1px solid #C9C9C9;
	margin-top: -1px;
	padding: 2em 0 2em 0 ;
	color: var(--custom-text-color);
}
.text-image-block .text-col{
	flex:var(--big-flex) 0 0;
	align-self: center;
	padding: 0 2em 0 2em;
}
.text-image-block.text_right .text-col{
	order: 2;
}

.text-image-block .text-col > *:first-child{
	margin-top: 0;
}
.text-image-block .text-col > *:last-child{
	margin-bottom: 0;
}
.text-image-block--image-col {
	position: relative;
	flex: var(--small-flex)  0 0;
	margin-bottom: -2em;
	margin-top: -2em;
}
.text-image-block.text_right .text-image-block--image-col{
	order: 1;
}
.text-image-block--image-col figure{
	position: absolute;
	left: 0;
	margin-top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	display: block;
}
.text-image-block--image-col figure.dummy{
	background: #ccc;
}
.text-image-block--image-col figure img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
}
.text-image-block.green_bg{
	background: var(--green-gradient);
	color: #fff;
}
.text-image-block .text-col a{
	text-decoration: underline;
}
.text-image-block.green_bg a{
	color: #fff;
}

@media all and (max-width:768px){
	.text-image-block{
		display: block;
		padding: 2em 1em;
	}
	.text-image-block .text-col{
		padding: 0;
	}
	.text-image-block--image-col{
		margin-top: 0;
		margin-bottom: 0;
		min-height: inherit;
		padding-top: 1em;
	}
	.text-image-block--image-col figure img{
		position: relative;
	}
}