.text-image-block{
	display: grid;
	grid-template-areas:"header image"
        				"text image";
    grid-template-columns: 60% calc(40% - 1em);
    gap: 0 1em;
    grid-template-rows: auto 1fr;
	width: 100%;
	border-top:1px solid var(--store-color);
	border-bottom:1px solid var(--store-color);
	padding: 2em 0 2em 2em ;
	margin-top: -1px;
	font-family: "kiro", sans-serif;
}
.text-image-block--title-col{
	grid-area: header;
    padding: 0 ;
}
.text-image-block--title-col h2{
	margin: 0;
}
.text-image-block--text-col{
	grid-area: text;
	padding: 0;
}
.text-image-block--text-col > *:first-child{
	margin-top: 0;
}
.text-image-block--text-col > *:last-child{
	margin-bottom: 0;
}

.text-image-block--image-col{
	grid-area: image;
	min-height: 50vh;
	margin-bottom: -2em;
	margin-top: -2em;
	z-index: -1;
}
.text-image-block--image-col figure{
	width: 100%;
	height: 100%;
	margin: 0;
	display: block;
	position: relative;
}
.text-image-block--image-col figure.dummy{
	background: #ccc;
}
.text-image-block--image-col figure img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
}
@media all and (max-width:1024px){
	.text-image-block{
		--padding-top-bottom: 2em;
	}
}
@media all and (max-width:768px){
	.text-image-block{
		grid-template-areas:
	        "header"
	        "image"
	        "text";
	    grid-template-columns: 100%;
	    grid-template-rows: auto;
	    padding: var(--padding-top-bottom) 0 var(--padding-top-bottom) 0 ;
	}
	.text-image-block--title-col,
	.text-image-block--text-col{
		padding: 0 2em;
	}
	.text-image-block--text-col > *:first-child{
		margin-top: 1em;
	}
	.text-image-block--title-col h2{
		margin: 0 0 0.5em;
	}
	.text-image-block--image-col{
		margin-top: 0;
		margin-bottom: 0;
	}
}
