.headerblock{
	width: 100%;
	height: auto;
	margin-top: calc(-1 * var(--header-height) );
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
.headerblock::-webkit-scrollbar{
	display: none;
}
.headerblock .hero-wrap{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.headerblock .headerblock-image-col{
	flex: 65% 0 0;
	background: #ccc;
	height: 100%;
	z-index: 0;
}
.headerblock .headerblock-image-col figure{
	width: 100%;
	height: 100%;
}
.headerblock .headerblock-image-col figure img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.headerblock .headerblock-text-col{
	flex: 35% 0 0;
	position: relative;
	background: var(--store-color);
	color: var(--white);
	padding: var(--header-height) 2em 0 2em;
	height: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
    justify-content: center;
    font-size: min(2vw, 3vh, 1.3rem);
    line-height: 1.5em;
}
.headerblock .headerblock-text-col p#breadcrumbs{
	position: absolute;
	top: var(--header-height);
}

.headerblock .headerblock-text-col .text{
	padding: 0 0 5em;
}
.headerblock .headerblock-text-col .text > *:first-child{
	margin-top: 0;
}
.headerblock .headerblock-text-col .text > *:last-child{
	margin-bottom: 0;
}
.headerblock .headerblock-text-col h1{
	margin: 0 0 0.4em;
	font-size: 2em;
}

.headerblock .headerblock-usps{
	position: relative;
	z-index: 2;
	color: var(--dark-blue);
	overscroll-behavior: auto;
	list-style: none;
	margin: 0;
	padding: 0px 10% 3em 2em;
	display: flex;
	width: 35%;
	font-size: 1.7vw;
	line-height: 1.5em;
	font-style: italic;
	font-weight: 600;
}
.headerblock .headerblock-usps li{
	flex: auto 1 1;
	box-sizing: border-box;
	padding: 0 0.5em;
	margin: 0;
    overflow: visible;
}
.headerblock .headerblock-usps li:first-child{
	padding-left: 0;
}
.headerblock .headerblock-usps li:last-child{
	padding-right: 0;
}
.headerblock .headerblock-usps li:not(:last-child){
	border-right: 1px solid var(--dark-blue);
}
.headerblock .headerblock-usps li strong{
	display: block;
	font-size: 1.5em;
	font-weight: 900;
	font-style: normal;
	white-space: nowrap;
}
@media screen and (max-width:768px){
	.headerblock .hero-wrap{
		height: unset;
		position: relative;
	}
	.headerblock .headerblock-image-col{
		flex: 100% 0 0;
		order: 1;
		height: 75vh;
	}
	.headerblock .headerblock-text-col{
		flex: 100% 0 0;
		order: 2;
		padding: 4em 2em 1em 2em;
		font-size: 1em;
	}
	.headerblock .headerblock-text-col .text {
		padding: 0 0 0;
	}
	.headerblock .headerblock-text-col h1{
		font-size: 2.125em;
		line-height: 1.117em;
	}
	.headerblock .headerblock-usps{
		width: 100%;
		padding: 0 2em 2em;
		font-size: 1em;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		background: var(--dark-blue);
		gap: 0.5em;
	}
	.headerblock .headerblock-usps li{
		padding: 0;
	}
	.headerblock .headerblock-usps li strong{
		font-size: 1.3em;
	}
}